@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}


.breadcrumb {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 3%;
    margin-left: 11%;
    font-size: 16px;
}

.breadcrumb a {
    text-decoration: none;
    margin: 0 5px;
    color: black;
}

.breadcrumb a:hover{
    text-decoration: underline;
}

.breadcrumb p {
    margin: 0 5px;
}

.breadcrumb-item.active {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.button-content{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.button-content button{
    background-color: #5c6bc0;
    border: none;
    border-radius: 30px;
    margin-left: 15px;
    padding: 10px 18px;
}

.button-content a{
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.button-content button:hover{
    cursor: pointer;
    background-color: #212121;
}

.button-content .highlight{
    background-color: #212121;
}

.box-content p{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 10%;
}

